@import "mixins/mixins";
@import "common/var";

// .el-card
@include b(card) {
  border-radius: $--card-border-radius; // 4px
  border: 1px solid $--card-border-color; // #EBEEF5
  background-color: $--color-white;
  overflow: hidden;
  color: $--color-text-primary;
  transition: 0.3s;

  @include when(always-shadow) {
    box-shadow: $--box-shadow-light;
    // $--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: $--box-shadow-light;
    }
  }

  // .el-card__header
  @include e(header) {
    padding: #{$--card-padding - 2 $--card-padding}; // 20px
    border-bottom: 1px solid $--card-border-color; // #EBEEF5
    box-sizing: border-box;
  }

  // .el-card__body
  @include e(body) {
    padding: $--card-padding; // 20px
  }
}
